* {
    font-family: proxima-nova, sans-serif;
}

body {
    margin: 20px;
}

img {
    float: left;
    margin-right: 10px;
}

a {
    color: #0000FF;
}

#error {
    color: red;
}

#confirmDiv {
    display: none;
}
